*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif ;
    /* color: #313243; */
}

::-webkit-scrollbar {
    width: 1rem;
  }


/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00bec9; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d8ac36; 
  }
/* header starts */
.header{
    background-color: #d8ac36;
}
.wrap{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
   
}


.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 0 ;

}
.logo img{
    
    width: 13rem;
    
}
.menu ul{
    display: flex;
    gap: 4rem;
    margin-top: 0.6rem;

}
.menu ul li{
    font-size: 1.823rem;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 500;
}
.menu ul li a{
    color: #ffffff;
}
.search_bar{
    margin-top: 0.2rem;
    display: flex;

}
.search_bar input{
    padding: 0.2rem 1.25rem;
    font-size: 1.302rem;
    width: 14.5rem;
    background-color: #fcc302;
   
    border: none;
}
.search_bar input::placeholder{
    color: #ffffff;
    text-transform: capitalize;
}
.search_bar a{
    width: 4.5rem;
    background-color: #00bec9;
    padding: 1rem 0rem 0 1.5rem;
  
   
}
/* header end */


/* section one starts */

.background{
    background-color: #fcc302;
}
.section_one {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4.875rem  0;
}
.section_one .content{
    padding: 4rem 0;
    flex-basis: 57%;
    color: #ffffff;
    
}
.section_one .content h1{
    line-height: 5rem;
    font-size: 4.167rem;
    font-weight: 900;
}
.section_one .content p{
    line-height: 2.4rem;
    font-size: 1.823rem;
    font-style: normal;
    padding-top: 2rem;
}

.section_one .image{
    width: 34%;
    
}
.section_one .image img{
    width: 25.75rem;
    transform: scaleX(-1);
}
.section_one_btn{
    margin-top: 3rem;
}
.section_one_btn a{
    margin-right: 1.3rem;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    padding: 0.9rem;
    color: #ffffff;
   
}
.section_one_btn a.bg_blue{
    background-color: #00bec9;
    border: none;
}
/* section one end */
/* section two starts */
.section_two{
    display: flex;
    justify-content: space-between;
  
    padding: 7rem  0;
}
.section_two .content_section_two{
    padding: 4rem 0;
   flex-basis: 42rem;
    color: #000;
    
}
.section_two .content_section_two h1{
    line-height: 4rem;
    font-size: 3.125rem;
    font-weight: 900;
    color: #313243;
}
.section_two .content_section_two p{
   padding-right: 6rem;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 2.4rem;
    padding-top: 2rem;
    color: #313243;
}
.section_two .image_two{
    flex-basis: 30rem;
    
}
.section_two .image_two img{
   flex-basis: 37vw;
}
.section_two_btn{
    margin-top: 3rem;
}
.section_two_btn a{
    font-size: 1.302rem;
    background-color: #fcc302;
    margin-right: 1.3rem;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    padding: 0.9rem;
    color: #ffffff;
}
.section_two .image_two .box{
    width: 15rem;
    
    height: 12rem;
    background-color: #fcc302;
    margin: -11rem -5rem 0 -2rem;
}
/* section two end */

/* section three starts */
.section_three_heading{
    padding: 6.25rem 0;
}
.section_three_heading h1{
   
    text-align: center;
    font-size: 4.688rem;
    font-weight: 900;
    color: #ffffff;
}
.section_three_heading p{
    text-align: center;
    font-size: 2.083rem;
    color: #ffffff;
    padding: 0 14rem;
    margin: 0 auto;
    
    
}
.section_three_content{
    display: flex;
    justify-content: space-between;
    
    margin: 0 auto;
    
}
.section_three_card{
    flex-basis: 27vw;
   color: #ffffff;
    text-align: center;
}
.section_three_content h2{
    padding-top: 2rem;
    text-align: center;
   
}
.section_three_content p{
    padding: 0 4rem 4rem 4rem;
    text-align: center;
   
}
/* section three end */

/* section four starts */
.section_four{
    display: flex;
    justify-content: space-between;
   
    padding: 7rem 0;
}
.image_four {
    flex-basis: 30rem;
    margin: 0 auto;
}
.content_section_four {
    flex-basis: 42rem;
    text-align: end;
}
.section_four .content_section_four h1{
    /* padding-left: 2rem; */
    margin-top: 3rem ;
    font-size: 3.116rem;
    font-weight: 900;
    line-height: 4rem;
    color: #313243;
}
.content_section_four p{
    padding-left:   2rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
    padding-top: 2rem;
    color: #313243;
}
.section_four_btn{
    margin-top: 3rem;
}
.section_four_btn a{
    font-size: 1.302rem;
    background-color: #fcc302;
  
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    padding: 0.9rem;
    color: #ffffff;
}
.section_four .image_four .box{
    width: 15rem;
   
    height: 12rem;
    background-color: #fcc302;
    margin: -11rem -5rem 0 18.5rem;
}
/* section four end */

/* section five starts */
.section_five_heading{
    padding: 6.25rem 0;
}
.section_five_heading h1{
   
    text-align: center;
    font-size: 4.688rem;
    font-weight: 900;
    color: #ffffff;
}
.section_five_heading p{
    text-align: center;
    font-size: 2.083rem;
    color: #ffffff;
    padding: 0 14rem;
    margin: 0 auto;
    
    
}
.section_five_content{
    display: flex;
    justify-content: space-between;
  
    margin: 0 auto;
    
}
.section_five_card{
    flex-basis: 27vw;
   
    text-align: center;
}
.section_five_card .card img{
   
    padding: 0.5rem;
}
.section_five_content h2{
    padding-top: 2rem;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
   
}
.section_five_card h2 span{
   text-decoration: line-through;
   padding-right: 1rem;
}
.section_five_btn{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.section_five_btn a{

    font-size: 1.302rem;
    background-color: #00bec9;
   
    border-radius: 30rem;
    padding: 0.6rem 3rem;
    color: #ffffff;
}

/* section five end */

/* section six stars */
.section_six{
    margin-top: 4rem;
    
}
.section_six_heading h1 {
    text-align: center;
    font-size: 4.688rem;
    font-weight: 900;
    color: #313243;
    
}
.section_six_heading p{
    text-align: center;
    font-size: 2.083rem;
    color: #313243;
    padding: 0 14rem;
}
.section_six_content{
    display: flex;
    justify-content: space-between;
   
    margin: 3rem 0;
}
.section_six_card {
    flex-basis: 27vw;
    color: #313243;
    text-align: center;
}
.section_six_card ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
}
.section_six_card ul li a img{
    width: 40px;
    background-color: #fcc302;
    border-radius: 30px;
    
}
/* section six end */
/* section seven starts */
.background_img{
    background-image: url(images/Layer-21.png);
}
.background_img .background{
    background-color: #efbf1dd6;
    padding: 11rem 0;
}

.section_seven{
    display: flex;
    justify-content: space-around;
    
    text-align: center;
    color: #ffffff;
}
.section_seven .section_seven_card {
    flex-basis: 29vw;
    padding: 2rem 0;
}
.section_seven .section_seven_card .icon  h3 {
    font-size: 2.344rem;
}
.section_seven .sectio_seven_card .icon p {
    font-size: 2.604rem;
}
/* section seven end */
/* section eight starts */
.section_eight{
    margin-top: 4rem;
    
}
.section_eight_heading h1 {
    text-align: center;
    font-size: 4.688rem;
    font-weight: 900;
    color: #313243;
}
.section_eight_heading p{
    text-align: center;
    font-size: 2.083rem;
    color: #313243;
    padding: 0 14rem;
}
.section_eight_content{
    display: flex;
    justify-content: space-between;
   
    margin: 3rem 0;
}
.section_eight_card {
    margin: 0;
    padding: 0;
    flex-basis: 27vw;
    color: #313243;
    text-align: left;
    box-shadow: 1px 1px  rgb(78, 76, 76), ;
}
.section_eight_card img{
    /* width: 100%; */

    margin: 0;
    padding: 0;
}
.card_content{
   padding: 2rem 2rem 2rem 2rem;   
   border: 1px solid #d5d5d5;
   border-top: none;
}

.card_content p span{
    color: #00bec9;
    
}
.card_content a{
    color: #00bec9;
    font-weight: 500;
    padding-top: 2rem;
}
/* section eight end */
/* footer starts */
.footer_bg{
    background-color: #343434;
}
.footer_content{
    display: flex;
    justify-content: space-between;
   
   
}
.footer_content .footer_block1{
    display: flex;
    justify-content: space-between;
   
    flex-basis: 42vw;
    color: #ffffff;
    margin-top: 3rem;
}
.footer_content .footer_block1 {
    font-size: 1.563rem;
}
.footer_content .footer_block1 ul li a{
    color: #ffffff;
}
.footer_content .footer_block1 h2{
    font-size: 2.344rem;
}

.footer_content .footer_block2 {
    color: #ffffff;
    flex-basis: 37vw;
    text-align: right;
    margin-top: 3rem;
}
.footer_content .footer_block2 h2{
    font-size: 2.344rem;
}
.footer_content .footer_block2 p {
    font-size: 1.563rem;
}
 input {
   background-color: #fcc302;
   border: none;
   padding: 1rem ;
   font-size: 1.5rem;
   
   color: #ffffff;
   width: 24rem;
   
   
}

 input:focus{
    border: none !important;
    outline: none;
}
.footer_content .footer_block2 .search_box{
    display: flex;
   justify-content: right;
    margin-top: 3.3rem;
}
.footer_content .footer_block2 .search_box a{
    background-color: #00bec9;
   padding: 1rem 3rem ;
   
   
    
}
.footer_content .footer_block2 .search_box a img{

}
.footer_content .footer_block2 .search_box a img {
  fill: #ffffff;
}
.footer_content .footer_block2 .links ul{
    display: flex;
    justify-content: right;
    gap: 1rem;
    padding: 2rem 0;
    margin-top: 1rem;
}
.footer_content .footer_block2 .links ul li a img{
    width: 40px;
   
    border-radius: 30px;
    
}

/* footer end */